<!doctype html>
<html lang="ru" xmlns:th="http://www.thymeleaf.org">

<head>
    <title>Авторизация | WebQuiz</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" type="text/css" th:href="@{/resources/css/bootstrap.min.css}" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.1/font/bootstrap-icons.css">
    <link rel="stylesheet" type="text/css" th:href="@{/resources/css/style.css}" />
</head>
<body>
    <header th:insert="temps::header"></header>
    <section class="section justify-content-center">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-6">
                    <div class="card">
                        <div class="card-header">Авторизация</div>
                        <div class="card-body">
                            <form class="row g-3" th:action="@{/login}" method="POST">
                                <div class="alert alert-warning" th:if="${msg != null}" th:text="${msg}">Blah</div>
                                <input class="form-control" name="username" type="email" placeholder="Email*" required>
                                <input class="form-control" name="password" type="password" placeholder="Пароль*" required>
                                <button class="btn btn-primary btn-block" type="submit">Войти</button>
                                <a th:href="@{/signup}" class="signin-reg">Может вы хотите зарегистрироваться?</a>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <footer th:insert="temps::footer"></footer>
</body>
</html>