<!doctype html>
<html lang="ru" xmlns:th="http://www.thymeleaf.org">

<head>
    <title>Авторизация | WebQuiz</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" type="text/css" th:href="@{/resources/css/bootstrap.min.css}" />
    <link rel="stylesheet" type="text/css" th:href="@{/resources/css/style.css}" />
</head>

<body>
    <header th:insert="temps::header"></header>
    <section class="section justify-content-center">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-2">
                    <div th:insert="temps::admin-navbar"></div>
                </div>
                <div class="col-10">
                    <div class="card my-2">
                        <div class="card-header">Авторизация</div>
                        <div class="container p-4">
                            <form class="row row-cols-1 g-3" th:action="@{/login}" method="POST">
                                <div class="alert alert-warning" th:if="${error != null}" th:text="${error}">Blah</div>
                                <input name="username" type="email" class="form-control" placeholder="Email*" required>
                                <input name="password" type="password" class="form-control" placeholder="Пароль*"
                                    required>
                                <button class="btn btn-primary form-btn" type="submit">Войти</button>
                                <a th:href="@{/registration}" class="signin-reg">Может вы хотите зарегистрироваться?</a>
                            </form>
                        </div>
                    </div>
                    <div class="card my-2">
                        <div class="card-header">Эпоха Сэнгоку</div>
                        <div class="card-body">
                            <ul class="list-group list-group-flush">
                                <li class="list-group-item">Автор: <span class="text-primary">Admin</span></li>
                                <li class="list-group-item">Темы: <span>История, Восточная Азия</span></li>
                                <li class="list-group-item">Рейтинг: <span>4.8/5</span></li>
                                <li class="list-group-item">Кол-во вопросов: <span>20</span></li>
                                <li class="list-group-item"><a class="btn btn-success mx-6">Поехали!</a><a
                                        class="btn btn-warning">Подробная информация</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="d-flex justify-content-center px-0 mx-0 g-0">
                        <div class="col-lg-10 w-100">
                            <div class="card text-dark">
                                <div class="card-body p-4">
                                    <h4 class="mb-0">Отзывы</h4>
                                    <p class="fw-light mb-4 pb-2">Последние отзывы от пользователей</p>

                                    <div class="d-flex flex-start">
                                        <div>
                                            <h6 class="fw-bold mb-1">idontknower</h6>
                                            <div class="d-flex align-items-center mb-3">
                                                <p class="mb-0">
                                                    апрель 1, 2022
                                                </p>
                                            </div>
                                            <p class="mb-0">
                                                И это называется викториной? да кто автор вообще такой?! викторина вообще по своей сути отнюдь не логична. ответы вообще слабо свзязаны с вопросами. знание истории бутана (или чего там) у автора вообще не зашкаливает. стыдно
                                            </p>
                                            <p>0/5</p>
                                        </div>
                                    </div>
                                </div>

                                <hr class="my-0" />

                                <div class="card-body p-4">
                                    <div class="d-flex flex-start">
                                        <div>
                                            <h6 class="fw-bold mb-1">admin</h6>
                                            <div class="d-flex align-items-center mb-3">
                                                <p class="mb-0">
                                                    март 25, 2022
                                                </p>
                                            </div>
                                            <p class="mb-0">
                                                Эта викторина идеал идеалов из всех шедевров. Знанию истории и чуткости автора в вопросах истории Японии и периода Сэнгоку можно лишь позавидовать. Эта викторина - вершина логики и организации из всех викторин. Рекомендую всем.
                                            </p>
                                            <p>5/5</p>
                                        </div>
                                    </div>
                                </div>

                                <hr class="my-0" style="height: 1px;" />

                                <div class="card-body p-4">
                                    <div class="d-flex flex-start">
                                        <div>
                                            <h6 class="fw-bold mb-1">kolya_nevolya</h6>
                                            <div class="d-flex align-items-center mb-3">
                                                <p class="mb-0">
                                                    март 27, 2022
                                                </p>
                                            </div>
                                            <p class="mb-0">
                                                Викторинка норм такая. Я хоть узнал что-то новое об истории японии. Не слишком интересно, но норм.
                                            </p>
                                            <p>4/5</p>
                                        </div>
                                    </div>
                                </div>

                                <hr class="my-0" />

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <footer th:insert="temps::footer"></footer>
</body>

</html>