<!doctype html>
<html lang="ru" xmlns:th="http://www.thymeleaf.org">

<head>
    <title>Результаты | WebQuiz</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" type="text/css" th:href="@{/resources/css/bootstrap.min.css}" />
    <link rel="stylesheet" type="text/css" th:href="@{/resources/css/style.css}" />
</head>

<body>
    <header th:insert="temps::header"></header>
    <section class="section justify-content-center">
        <div class="container">
            <div class="row justify-content-center pb-2">
                <div class="col-6">
                    <div class="card border-2 border-success">
                        <div class="card-body">
                            <h1>Результаты викторины "<span th:text="${title}"></span>"</h1>
                            <p><span th:text="${ansRight}"></span>/<span th:text="${count}"></span></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <footer th:insert="temps::footer"></footer>
</body>
</html>