<!doctype html>
<html lang="ru" xmlns:th="http://www.thymeleaf.org">

<head>
    <title>Создать викторину | WebQuiz</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" type="text/css" th:href="@{/resources/css/bootstrap.min.css}" />
    <link rel="stylesheet" type="text/css" th:href="@{/resources/css/style.css}" />
    <script type="text/javascript" th:src="@{/resources/js/quizCreate.js}"></script>
</head>

<body>
    <template id="card-ques">
        <div class="row row-ques justify-content-center pb-3">
            <div class="col-6">
                <div class="card border-danger border-3">
                    <div class="card-body">
                        <div class="row g-3">
                            <div>
                                <label class="form-label">Введите текст вопроса</label>
                                <textarea class="form-control" name="questions[#].text" placeholder="Пишите" style="height: 100px; resize: none;" required></textarea>
                            </div>
                            <div>
                                <label class="form-label">Введите текст ответов и выберите правильный</label>
                                <div class="input-group">
                                    <div class="input-group-text">
                                        <input class="form-check-input" name="questions[#].correctAnsIndex" type="radio" value="&" required />
                                    </div>
                                    <input class="form-control" name="questions[#].answers[&].text" required>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </template>
    <header th:insert="temps::header"></header>
    <section class="section justify-content-center">
        <form class="container" th:action="@{/quizCreate}" method="POST">
            <div class="row justify-content-center pb-3">
                <div class="col-6">
                    <div class="card">
                        <div class="card-header">Регистрация</div>
                        <div class="card-body">
                            <div class="row g-3">
                                <div class="input-group">
                                    <label class="input-group-text">Название</label>
                                    <input class="form-control" name="title" required>
                                </div>
                                <div>
                                    <label class="form-label">Дайте описание викторине</label>
                                    <textarea class="form-control" name="description" placeholder="Пишите" style="height: 150px; resize: none;" required></textarea>
                                </div>
                                <div class="input-group">
                                    <label class="input-group-text">Выбор тем</label>
                                    <select class="form-select" name="subjects[0].name" required>
                                        <th:block th:each="subject : ${subjes}">
                                            <option th:value="${subject.name}" th:text="${subject.name}"></option>
                                        </th:block>
                                    </select>
                                    <select class="form-select" name="subjects[1].name" required>
                                        <th:block th:each="subject : ${subjes}">
                                            <option th:value="${subject.name}" th:text="${subject.name}"></option>
                                        </th:block>
                                    </select>
                                </div>
                                <div>
                                    <label class="form-label">Кол-во вопросов:</label>
                                    <input type="range" name="quesCount" id="quesCount" min="2" max="20" step="1" value="2" oninput="res.value = quesCount.value"/>
                                    <output id="res">2</output>
                                    <button id="btn-add" class="btn btn-primary" type="button">Создать формы</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>    
            <div id="cards-ques">

            </div>
        </form>
    </section>
    <footer th:insert="temps::footer"></footer>
</body>

</html>